.App {
  width: 400px;
  margin: 15px;
  text-align: center;
  display: block;
}

.Actions {
  padding-top: 20px;
}

button {
  display: inline-block;
  margin: 0 20px 20px 0;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: 0.25px solid #ccc;
  background-color: blue;
  color: white;
  opacity: 0.7;
  text-align: center;
  text-decoration: none;
}